<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Assignee</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody ng-repeat="task in tasks">
    <tr ng-class-even="'light-gray'" ng-class-odd="'dark-gray'">

        <td><img src="assets/images/logoBonita.png"></td>
        <td>{{task.displayName}}</td>
        <td>{{task.assigned_id.userName}}</td>
        <td>
            <button ng-class="{'disabled': task.assigned_id !='', 'btn': true, 'btn-primary': true}" ng-click="assign(task, $index, $event)">Assign to</button>
        </td>
    </tr>
    </tbody>
</table>
