<h3>List of processes  <span ng-if="processesActor" >which can be started by{{processesActor.firstname}} {{processesActor.lastname}}</span></h3>
    <div class="well-small">
        <label for="ProcessFilter">Process filter : </label>
        <select id="ProcessFilter" ng-model="displayProcesses" ng-options="f.name for f in displayProcessPossibleStatus"></select>
    </div>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Display name</th>
            <th>Version</th>
            <th>Deployement date</th>
            <th>Actor Mapping</th>
            <th>State</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody ng-repeat="process in processes | filter:isProcessVisible" >
        <tr ng-class-even="'light-gray'" ng-class-odd="'dark-gray'">
           <td><gravatar email="user.userName" size="30" default-image="'monsterid'"></gravatar></td>
            <td>{{process.displayName}}</td>
            <td>{{process.version}}</td>
            <td>{{process.deploymentDate}}</td>
            <td>{{process.configurationState}}</td>
            <td>{{process.activationState}}</td>
            <td>{{process.description}}</td>
            <td><a class="btn" ng-show="isProcessEnabled(process)" ng-href="#/team/processes/{{process.id}}">Start</a>
                <!--<button class="btn" ng-show="isProcessEnabled(process)" ng-click="startProcess(process)">Start</button>-->
            </td>
        </tr>
        </tbody>
    </table>
