<div class="container">
    <ol class="breadcrumb">
        <li ng-repeat="breadCrumb in breadCrumbs">
            <a ng-href="#/manager/users/{{ breadCrumb.url }}">{{ breadCrumb.name }}</a>
        </li>
    </ol>
    <div class="row">
        <div class="{{ selectedUser ? 'col-md-8' : 'col-md-12'}}">
            <bbpm-manager-user-list style="display: flex" user-id='userId'
                                    on-select-user="updateEditView"></bbpm-manager-user-list>
        </div>
        <div class="col-md-4" ng-if="selectedUser">
            <h3>Edit {{ selectedUser.firstname }} {{ selectedUser.lastname }}</h3>
            <a ng-if='isManager' ng-href="#{{location.path()}}/{{selectedUser.id}}">I am manager!</a>
            <bbpm-edit-user style="display: flex" user="selectedUser"></bbpm-edit-user>
        </div>
    </div>
</div>