<div class="well-small">
	<label for="groupFilter">Show groups: </label>
	<select id="groupFilter" ng-model="displayGroups" ng-options="f.name for f in displayGroupsPossibleValues" ng-disabled="displayGroupsPossibleValues.length<=1"></select>
</div>

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Path</th>
        <th>Created On</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody ng-repeat="group in groups">
    <tr ng-click="edit(group.$id())">

        <td>{{group.id}}</td>
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
        <td>{{group.path}}</td>
        <td>{{group.creation_date}}</td>
        <td>
        	<button class="btn btn-danger remove" ng-click="remove(group, $index, $event)">Delete</button>

        </td>
    </tr>
    </tbody>
</table>


<div
    data-angular-treeview="true"
	data-tree-id="groupsTree"
	data-tree-model="treedata"
	data-node-id="id"
	data-node-label="displayName"
	data-node-children="children" >
</div>


<div class="well">
    <button class="btn" ng-click="new()">New Group</button>
</div>
