<div class="well">
    <form name="form" novalidate crud-edit="group">
        <legend>Group</legend>
        
        <label for="groupName">Name</label>
        <input class="span6" type="text" id="groupName" name="groupName" ng-model="group.name" required unique-groupName>
        <span ng-show="showError('groupName', 'required')" class="help-inline">This field is required.</span>
        <span ng-show="showError('groupName', 'uniquegroupname')" class="help-inline">A group with the same groupname already exists - please enter another one.</span>
        
        
        <label for="groupName">Display Name</label>
        <input class="span6" type="text" id="displayName" name="displayName" ng-model="group.displayName" required unique-groupName>
        <span ng-show="showError('displayName', 'required')" class="help-inline">This field is required.</span>
        <span ng-show="showError('displayName', 'uniqueGroupName')" class="help-inline">A group with the same name already exists - please enter another one.</span>
        
        
        <label for="description">Description</label>
        <input class="span6" type="text" id="description" name="description" ng-model="group.description" required>
        <span ng-show="showError('description', 'required')" class="help-inline">This field is required.</span>
        
        <label for="parent">Parent Group</label>
        <input class="span6" type="text" id="parent" name="parent" ng-model="group.parent_group_id">
        
        
        
<!-- icon: "" -->
<!-- parent_group_id: "" -->
        
        
        <hr>
        <crud-buttons></crud-buttons>
    </form>
</div>