<ul class="nav nav-tabs" ng-controller="tabsCtrl" ng-include="'app/tm/tm-user-tpl.html'"></ul>
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Version</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody ng-repeat="process in processes">
    <tr ng-click="edit(process.$id())" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'">

        <td><img src="assets/images/logoBonita.png"></td>
        <td>{{process.displayName}}</td>
        <td>{{process.version}}</td>
        <td>{{process.description}}</td>
        <td>
            <a class="btn btn-primary" href="#/tm/startprocess?processName={{process.name}}&processVersion={{process.version}}&processId={{process.id}}&userId={{currentUserId}}">Start</a>
            <!--<button ng-click="go('#/tm/startprocess', process.name, process.version, process.id)" class="btn btn-primary">Start</button>-->
        </td>
    </tr>
    </tbody>
</table>
