<table class="table table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Username</th>
        <th>Last name</th>
        <th>First name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody ng-repeat="user in users">
    <tr ng-click="edit(user)" >
        <td><gravatar email="user.userName" size="30" default-image="'monsterid'"></gravatar></td>
        <td>{{user.userName}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.firstname}}</td>
        <td>
            <a ng-href='#/bpm/processes/{{user.id}}'>Show Startable Processes</a>
            <a ng-href='#/users/{{user.id}}/task'>Show Tasks</a>
        </td>
    </tr>
    </tbody>
</table>