<div class="well">
    <form name="form">
        <legend>{{user.getFullName()}}</legend>

        <gravatar email="user.userName" size="200" class="img-polaroid pull-right" default-image="'monsterid'"></gravatar>

        <label for="userName">Username</label>
        <input class="span6" type="text" id="userName" name="userName" ng-model="user.userName" required>

        <label for="lastName">Last name</label>
        <input class="span6" type="text" id="lastName" name="lastName" ng-model="user.lastname" required>

        <span ng-show="showError('lastName', 'required')" class="help-inline">This field is required.</span>

        <label for="firstName">First name</label>
        <input class="span6" type="text" id="firstName" name="firstName" ng-model="user.firstname" required>

        <label for="password">Password</label>
        <input class="span6" type="password" id="password" name="password" ng-model="user.password" required>

        <label for="passwordRepeat">Password (repeat)</label>
        <input class="span6" type="password" id="passwordRepeat" name="passwordRepeat" ng-model="password" required validate-equals="user.password">

        <hr>

        <button class="btn btn-primary" ng-click="save()">Update</button>
    </form>
</div>