<h4>User {{user.getFullName()}}</h4>
<ul class="nav nav-tabs">
    <li><a ng-href="#/teammanager/users/{{user.id}}/infos">User infos</a></li>
    <li><a ng-href='#/teammanager/users/{{user.id}}/tasks'>User Tasks</a></li>
    <li class="active"><a ng-href='#/teammanager/users/{{user.id}}/processes'>User Processes</a></li>
</ul>
<div class="left-column">
    <table class="table table-bordered table-condensed table-striped table-hover pull-left">
        <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Installed On</th>
        </tr>
        </thead>
        <tbody ng-repeat="process in processes">
        <tr  ng-click="details(process.$id(), $index)" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'"
             ng-class="{ success: $index == selectedIndex }">
            <td>{{process.name}}</td>
            <td>{{process.version}}</td>
            <td>{{process.deploymentDate}}</td>
        
        </tr>
        </tbody>
    </table>
</div>
<div ui-view='quickdetails'></div>
