<div class="row-fluid">
    <div class="span5">
        <table class="table table-bordered table-condensed table-striped table-hover pull-left">
            <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Installed On</th>
            </tr>
            </thead>
            <tbody ng-repeat="process in processes">
            <tr ng-click="details(process.$id(), $index)" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'"
                ng-class="{ success: $index == selectedIndex }">
                <td>{{process.name}}</td>
                <td>{{process.version}}</td>
                <td>{{process.deploymentDate}}</td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="span7" ui-view='quickdetails'></div>
</div>
