<div class="row-fluid">
    <div class="span5">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks" ng-click="details(task, $index)" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'"
                ng-class="{ success: $index == selectedIndex }">
                <td>{{task.name}}</td>
                <td>{{task.displayDescription}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="span7" ui-view='taskquickdetails'></div>
</div>